* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 5px 15px;
}

header {
    margin: 20px;
    height: 50px;

    position: relative;
}

header #title {
    margin-left: 10px;
    display: inline-block;
    font-weight: 800;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

main {
    background-color: #f6f8f9;
    height: 100vh;
    padding-top: 25px;
}

.container {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    padding: 15px 40px;
}

.buttons {
    border-bottom: 2px solid #f6f8f9;
}

.buttons button {
    border-radius: 5px;
}

#add-task {
    background: #47adf1;
    color: #fff;
}

#add-section {
    color: #d1d6da;
    border: 1px solid #d1d6da;
}

.wrapper section {
    margin-bottom: 20px;
}

.task {
    padding-top: 10px;
}

.mark,
.category {
    display: inline-block;
    font-size: 12px;
}

.mark {
    width: 20px;
    height: 20px;
    text-align: center;
}

.tick-done {
    color: #64c0a9;
    border: 1px solid #64c0a9;
    border-radius: 50%;
}

.category {
    color: #fff;
    padding: 5px 8px;
    border-radius: 12px;
}

.editorial {
    background-color: #45abe9;
}
